<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <form method="post" action="{{ url_for('user_registration') }}">
        <input type="tel" label="Phone" placeholder=" +380 YY XXX XX XX" name="phone">
        <input type="password" placeholder="Введите пароль" name="password1">
        <input type="password" placeholder="Повторите пароль" name="password2">
        <input type="email" placeholder="email" name="email">
        <button type="submit">Войти</button>
    </form>
    {% if get_flashed_messages() %}
        <ul class="form-messages">
          {% for category, message in get_flashed_messages() %}
            <li class="{{ category }}">{{ message }}</li>
          {% endfor %}
        </ul>
    {% endif %}
</body>
</html>