<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>{{ title }}</h1>

    <form method="post" action="{{ url_for('user_signin') }}">
        <input type="tel" label="Phone" placeholder=" +380 YY XXX XX XX" name="phone">
        <input type="password" placeholder="Введите пароль" name="password1">
        <button type="submit">Войти</button>
    </form>

    {% if get_flashed_messages() %}
        <ul class="form-messages">
          {% for category in get_flashed_messages() %}
            <li class="{{ category }}"></li>
          {% endfor %}
        </ul>
    {% endif %}
</body>
</html>